.signInBtn {
  /* padding: 0.3em 0.7em; */
  border-radius: 7px;
  border: none;
  background-color: var(--primary-clr);
  color: white;

  padding: 0.4rem 1rem;
  cursor: pointer;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.2rem;

  transition: transform 0.3s;
}

.signInBtn:hover {
  transform: scale(1.12) translateY(-0.2rem);
  transition: transform 0.4s;
}
