@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

:root {
  /* --primary-clr: hsl(0, 36%, 72%); */
  --primary-clr: #d1545c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #efefef; */
  background: url("https://images.pexels.com/photos/5845292/pexels-photo-5845292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* background: url("./background.jpg") repeat-x; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-repeat: repeat-y; */
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-clr);
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
